body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App-header {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.App-header form{
  width: 50%;
}

.container-input-search{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ababab;
  width: 100%;
  padding: 2px;
  border-radius: 10px;
}

.container-input-search button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: none;
  cursor: pointer;
  padding-right: 0;
}

.container-input-search input{
  padding: 9px;
  border: none;
  outline: none;
  width: 100%;
}

.container-input-search{
  box-shadow: 2px 3px 5px 0 #aaabbb;
}

.grilla{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
  grid-gap: 10px;
  padding: 20px;
}

.card{
  border: 1px solid #ababab;
  padding: 20px ;
  display: flex;
  justify-content: start;
  align-items: start;
  text-decoration: none;
  color: black;
  flex-direction: column;
}

.card:hover{
  background-color: #dddddd;
}

.detalle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #212121;
}

.btn-inicio{
  text-decoration: none;
  color: black;
  margin-right: 10px;
  background-color: #dddddd;
  padding: 10px;
  transition: all 0.3s;
  border-radius: 10px;
}

.btn-inicio:hover{
  background-color: #bbbbbb;
}
